- provide(:title, t('.title'))

- content_for :lgside_body do
  .mail-option
  .product-ctn
    %h1.text-center 个人中心
  .product-ctn
    %h1.text-center 购买记录
  .product-ctn
    %h1.text-center 订单管理

= render "layouts/control_panel"

