- provide(:title, t('.title'))

- content_for :lgside_body do
  .container
    .mail-option
      .chk-all
        %label 用户名称： 
        = @user.email
      = link_to '编辑用户权限', edit_user_path(@user), :class => "btn btn-primary"
    .row.buyer-table-ctn
      .col-md-12
        %table.table.text-center.table-bordered.table-list-search
          %tbody
            - @roles.each do |role|
              %tr.unread
                %td.inbox-small-cells
                  %label.checkbox-inline
                    = role.name

= render "layouts/control_panel"
