- provide(:title, t('.title'))

- content_for :lgside_body do
  .container-fluid
    .row
      .col-md-8.col-md-offset-2.jumbotron
        %h2.text-center
          欢迎使用智能税票管理系统

= render "layouts/control_panel"
