.user-breadcrumb{
  margin-bottom: 0;
  border-radius: 0;
  background: #FFF;
  padding: 10px 15px;
  color: #999;
  font-size: 13px;
  a{
    color: #999;
  }
}
.control-wrapper {
  height: 100%;
  .mail-box {
    height: 100%;
  }
}
